@page
@model Razor.Pages.pelis.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Peli</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peli.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peli.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peli.FechaEstreno)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peli.FechaEstreno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peli.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peli.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Peli.Precio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Peli.Precio)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Peli.ID">Edit</a> |
    <a asp-page="./Index">Volver A La Lista Lista</a>
</div>
